<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfigTestSection" type="TestConsole.MyConfigTest.Section, TestConsole" />
  </configSections>
  <MyConfigTestSection>
    <elements>
      <add foo="Adam" bar="Sandler" />
      <add foo="Adam" bar="Levine" />
      <add foo="Alan" bar="Arkin" />
    </elements>
    <keyedElements>
      <add foo="Adam" bar="Sandler" />
      <add foo="Adam" bar="Levine" />
      <add foo="Alan" bar="Arkin" />
    </keyedElements>
  </MyConfigTestSection>
  <appSettings>
    <add key="Horseshoe.NET:ActiveDirectory.Domain" value="lgeenergy.int" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>